* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: black;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

.keys {
  display: flex;
  gap: 8px;
}

.key {
  border: none;
  background-color: #c0392b;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border-radius: 8px;
  width: 88px;
  transition: 0.1s;
  color: #f1c40f;
}

kbd {
  font-size: 40px;
  line-height: 40px;
  text-transform: lowercase;
}

.playing {
  background-color: orange;
  box-shadow: 0 0 32px orange;
  color: #c0392b;
  transform: scale(1.05);
}
